body {
padding: 200px;
}
.blue {
    position: fixed;
    background-color: #2A8FB0;
    width:500px;
    height:500px;
    border-radius: 250px;
    clip-path: polygon(100% 100%, 100% 0%, 60% 0%);
    z-index: 4;
}
.green {
    position: fixed;
    background-color: #94BA66;
    width:500px;
    height:500px;
    border-radius: 250px;
    clip-path: polygon(0% 100%, 0% 0%, 48% 0%, 38.5% 8%);
    z-index: 1;
}

.orange {
    position: fixed;
    background-color: #F37324;
    width:500px;
    height:500px;
    border-radius: 250px;
    clip-path: polygon(50% 30%, 39% 60%, 61% 60%);
    z-index: 5;
}

.dark_blue {
    position: fixed;
    background-color: #295074;
    width:500px;
    height:500px;
    border-radius: 250px;
    clip-path: polygon(31% 80%, 69% 80%, 78% 100%, 22% 100%);
    z-index: 3;
}

.white_circle{
    position: fixed;
    top: 205px;
    left: 393px;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    z-index: 2;
}

.actual_logo {
    position: fixed;
    height: 1000px;
    left: 1000px;
}